  <div class="form-section">
    <div style="display: flex; flex-wrap: wrap; justify-content: center; text-align: center">
      <div class="col-12">
          <label class="small-label">Order ID</label>
        {{ id }}
      </div>
      <div class="col-12">
        <label class="small-label">Phone number</label>
        {{ phone }}
      </div>
      <div class="col-12">
        <label class="small-label">Email</label>
        {{ email }}
      </div>
      <div class="col-12">
        <label class="small-label">Name</label>
        {{ name }}
      </div>
      <div class="col-12">
        <label class="small-label">Street</label>
        {{ street }}
      </div>
      <div class="col-12">
        <label class="small-label">House</label>
        {{ house }}
      </div>
      <div class="col-12">
        <label class="small-label">Ap.</label>
        {{ room }}
      </div>
      <div class="col-12">
        <label class="small-label">Entrance</label>
        {{ entrance }}
      </div>
      <div class="col-12">
        <label class="small-label">Floor</label>
        {{ floor }}
      </div>
      <div class="col-12">
        <label class="small-label">Comment to the order</label>
        {{ comments }}
      </div>
      <div class="col-12">
        <label class="small-label">Payment method</label>
        {{ payment_method }}
      </div>
      <div class="col-12">
        <label>Delivery date:</label>
        {{ delivery_date }}
      </div>
      <div class="col-12">
        <label>Delivery time:</label>
        {{ delivery_time }}
      </div>
      <div class="col-12">
        <label>Cart:</label>
        {{ cart }}
      </div>
    </div>
  </div>